@{
    ViewData["Title"] = "Banana Species";
}

<h2>Banana Species</h2>

<p> Coma Banana! Proteja-se das cãibras</p>

<ul>
    @for(int i=0;i<(int)ViewData["Species"]!;i++)
    {
        <li>
            @($"Banana code:{i}, Researcher {ViewData["Researcher"]}")
        </li>
    }
</ul>